.animate__fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}