#schedule-btn {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.9rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#schedule-btn:hover {
    background-color: red;
    color: #fff;
}

#request-estimate-btn {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.9rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#request-estimate-btn:hover {
    background-color: red;
    color: #fff;
}